@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --font-sans: var(--font-inter);
}

body {
  background: white;
  color: #111827;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
